/* Meyer Reset */

/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* code: css clocks */
#cssclock {
	height: 270px;
}
#clockanalog {
	background: #012345 no-repeat 0 0;
	float: left;
	height: 250px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 250px;
}
#clockanalog img {
	border: 0;
	left: 0px;
	position: absolute;
	top: 0px;
}
#clockdigital {
	background: #99cc66 no-repeat 162px 99px;
	height: 250px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 100%;
}
#clockdigital div {
	background: -webkit-linear-gradient(#99cc66, #a3d175); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#99cc66, #a3d175); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#99cc66, #a3d175); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#99cc66, #a3d175); /* Standard syntax */
	height: 88px;
	position: absolute;
	width: 100%;
}
#clockdigital div.topgradient {
	background: #99cc66; /*#a0cbda default*/
	height: 88px;
	position: absolute;
	width: 100%;
}
#clockdigital div:last-child {
	bottom: 0;
}
#clockdigital img {
	border: 0;
	display: block;
	height: 2000px;
	left: -1568px;
	margin-left: 30%;
	padding: 0;
	position: absolute;
	top: -867px;
	width: 2000px;
}

/* code: json formatter */
#json {
	background: #f4f4f4;
	border: 1px solid #ccc;
	color: #000;
	font-size: 13px;
	height: 200px;
	margin: 0 0 5px 0;
	padding: 10px;
	overflow: auto;
	width: 714px;
}
#jsonformat {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 20px 15px 0;
	text-align: right;
}

/* code: PHPDate */
td.codePHPDateLeft {
	width: 14%;
}
td.codePHPDateRight {
	width: 32%;
}

